# Copyright (C) 2018 Sebastian Pipping <sebastian@pipping.org>
# Licensed under CC-BY-SA 3.0
# https://creativecommons.org/licenses/by-sa/3.0/

language: cpp
dist: xenial

addons:
  apt:
    packages:
      - build-essential
      - ruby-dev
      - zlib1g-dev

install:
  - set -e
  - gem install bundler
  - bundle install
  - bundle outdated || true

script:
  - set -e
  - cd src
  - asciidoctor
        -r asciidoctor-diagram
        -r asciidoctor-bibliography
        applied-crypto-hardening.adoc
  - asciidoctor-pdf
        -r asciidoctor-diagram
        -r asciidoctor-bibliography
        applied-crypto-hardening.adoc
  - cd ..
  - '[[ -z ${TRAVIS_COMMIT} ]] || tools/ci/copy-build.sh build/commits/${TRAVIS_COMMIT:0:1}/${TRAVIS_COMMIT:0:2}/${TRAVIS_COMMIT}'
  - '[[ -z ${TRAVIS_BRANCH} ]] || tools/ci/copy-build.sh build/branches/${TRAVIS_BRANCH//\//-}'
  - '[[ -z ${TRAVIS_TAG} ]] || tools/ci/copy-build.sh build/tags/${TRAVIS_TAG//\//-}'
  - find build -type f | sort
