Babel==2.4.0
Jinja2==2.9
MarkupSafe==1.0
PyYAML==3.12
Pygments==2.2.0
Sphinx==1.5.5
alabaster==0.7.10
docutils==0.13.1
imagesize==0.7.1
latexcodec==1.0.4
oset==0.1.3
pybtex-docutils==0.2.1
pybtex==0.20.1
pytz==2017.2
setuptools==29.0.1
six==1.10.0
snowballstemmer==1.2.1
sphinxcontrib-bibtex==0.3.5
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-inlinesyntaxhighlight==0.2
sphinxcontrib-tikz==0.4.4
