# LaTeX
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.lof
*.lot
*.lol
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
# specific 
applied-crypto-hardening.dvi
applied-crypto-hardening.pdf
applied-crypto-hardening.markdown
*.gummi
*.swp
applied-crypto-hardening/
gitHeadInfo.gin
old/*
practical_settings/*_generated.tex
cipher_suites/*_generated.tex
*_generated.tex

